@use '../breakpoint' as *;

.header-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 139px;
}

.step {
    position: relative;
    border: 1px solid #EAF0ED;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #3F5D45;
    z-index: 1;
    box-sizing: border-box;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 46px;
        height: 1px;
        background-color: #EAF0ED;
        transform: translateY(-50%);
        z-index: 0;
    }

    &:last-child::after {
        display: none;
    }

    &.completed {
        background-color: #EAF0ED;
        border-color: #EAF0ED;

        &::before {
            content: "✓";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 10px;
            font-weight: bold;
            color: #3F5D45;
            z-index: 2;
        }
    }

    &.current {
        background-color: #EAF0ED;
        border-color: #EAF0ED;
    }

}

.input-credit {
    position: relative;
}

.credit-icon {
    position: absolute;
    top: 20px;
    right: 50px;

    @media(max-width:$break_sm) {
        right: 16px;
        top: 20px;
    }
}

.custom-date, .custom-city {
    position: relative;
}

.custom-date, .custom-city input {
    appearance: textfield;
}

/* 隱藏 Chrome 預設上下箭頭 */
.custom-date, .custom-city input::-webkit-outer-spin-button,
.custom-date , .custom-city input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.label {
    position: absolute;
    top: 16px;
    left: 18px;

    @media(max-width:$break_sm) {
        left: 20px;
        top: 16px;
    }
}

.arrows {
    position: absolute;
    top: 12px;
    right: 18px;

    @media(max-width:$break_sm) {
        right: 20px;
        top: 16px;
    }
}