@use '../breakpoint' as *;
.input-accout, .input-password {
    position: relative;
}

.account-icon, .password-icon {
    position: absolute;
    top:20px;
    left:24px;
    @media(max-width:$break_sm) {
        left: 20px;
        top: 16px;
    }
}