@use './breakpoint' as *;

.banner-today {
    position: relative;
    background-image: url('../images/Home_today.png');
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "本日精選";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        writing-mode: vertical-rl;
        background-color: rgba($color: #FFE180, $alpha: 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        opacity: 0.9;
        font: normal normal 600 20px/24px PingFang TC;
        letter-spacing: 0px;
        color: #3F5D45;
    }
}

.banner-recommend {
    position: relative;
    background-image: url('../images/Home_recommend.png');
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "人氣推薦";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        writing-mode: vertical-rl;
        background-color: rgba($color: #3F5D45, $alpha: 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        opacity: 0.9;
        font: normal normal 600 20px/24px PingFang TC;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
}

.banner-new {
    position: relative;
    background-image: url('../images/Home_new.png');
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: "新品上市";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        writing-mode: vertical-rl;
        background-color: rgba($color: #3F5D45, $alpha: 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        opacity: 0.9;
        font: normal normal 600 20px/24px PingFang TC;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
}
